/* SOME DEFAULT STYLES -------------------------------------------------------- */

.special_input_container {
  display: flex;
  max-width: 714px;
  display: flex;
  justify-content: space-between;
  label {
    margin-top: 17px;
    margin-bottom: 17px;
  }
  input {
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 64%;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
  }
}

.special_input_container_1 {
  display: flex;
  max-width: 714px;
  display: flex;
  flex-direction: column;

  label {
    margin-top: 20px;
  }
  input {
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 10px;
    width: 100%;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
  }
}

.special_input_container_2 {
  display: flex;
  max-width: 714px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  .radio_inp {
    margin-top: 16px;
    margin-left: 18px;
  }
}

.special_input_container_3 {
  display: flex;
  max-width: 714px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 30px;
  select {
    background-color: #e2e2e2;
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-bottom: 17px;
    margin-top: 16px;
    margin-left: 18px;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
  }
}

.special_input_container_4 {
  display: flex;
  max-width: 714px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 30px;
  textarea {
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-bottom: 17px;
    margin-top: 16px;
    margin-left: 18px;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
    height: 130px;
  }
}

.special_input_container_5 {
  display: flex;
  max-width: 714px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
  label {
    margin-top: 17px;
    margin-bottom: 17px;
  }
  select {
    width: 64%;
    background-color: #e2e2e2;
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-bottom: 17px;
    margin-top: 16px;
    margin-left: 18px;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
  }
}

.special_input_container_upload {
  max-width: 714px;
  display: flex;
  justify-content: space-between;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class=' icon icon-paperclip' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath id='Vector' d='M4 3.375C4 1.5125 5.5125 0 7.375 0C9.2375 0 10.75 1.5125 10.75 3.375V10.75C10.75 11.9937 9.74375 13 8.5 13C7.25625 13 6.25 11.9937 6.25 10.75V4.75C6.25 4.33437 6.58437 4 7 4C7.41563 4 7.75 4.33437 7.75 4.75V10.75C7.75 11.1656 8.08437 11.5 8.5 11.5C8.91563 11.5 9.25 11.1656 9.25 10.75V3.375C9.25 2.34063 8.40937 1.5 7.375 1.5C6.34063 1.5 5.5 2.34063 5.5 3.375V11.5C5.5 13.1562 6.84375 14.5 8.5 14.5C10.1562 14.5 11.5 13.1562 11.5 11.5V4.75C11.5 4.33437 11.8344 4 12.25 4C12.6656 4 13 4.33437 13 4.75V11.5C13 13.9844 10.9844 16 8.5 16C6.01562 16 4 13.9844 4 11.5V3.375Z'%3E%3C/path%3E%3C/svg%3E");
  content: " ATTACH RESUME/CV";
  color: black;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px;
  padding-left: 15px;
  outline: none;
  cursor: pointer;
  background-color: #ebecf0;
  font-weight: 700;
  font-size: 10pt;
  width: 90%;
  font-family: inherit;
  border-color: rgb(199, 201, 205);
}

.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
@media only screen and (max-width: 600px) {
  .special_input_container {
    flex-direction: column;
    input {
      width: 100%;
    }
  }
  .special_input_container_3 {
    flex-direction: column;
    select {
      margin-left: 0;
    }
  }
  .special_input_container_1 {
    input {
      margin-left: 0;
    }
  }
  .special_input_container_4 {
    textarea {
      margin-left: 0;
    }
  }
  .special_input_container_5 {
    flex-direction: column;
    select {
      width: 100%;
      margin-left: 0;
    }
  }

  .special_input_container_upload {
    flex-direction: column;
    .custom-file-input {
      margin-top: 20px;
    }
  }
}

input[type="checkbox"] {
  width: 20px;
}

input[type="radio"] {
  margin-bottom: -10px;
  width: 20px;
}

h4 {
  padding-top: 40px;
  padding-bottom: 40px;
  font: normal 700 14px / 1.4 Lato;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #515357;
}
h2 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
  font: normal 400 33px / 1.4 Lato;
  color: #515357;
  text-transform: none;
  letter-spacing: 0px;
  margin: 17.5px 0;
}
p {
  margin-top: 10px;
  font-size: 14px;
  color: #808080;
  font: normal 700 12px / 1.4 Lato;
  letter-spacing: 1px;
}
.required {
  color: red;
}
.not_required {
  display: none;
}
