/* SOME DEFAULT STYLES -------------------------------------------------------- */

.special_input_container {
  display: flex;
  max-width: 714px;
  display: flex;
  justify-content: space-between;
  label {
    margin-top: 17px;
    margin-bottom: 17px;
  }
  input {
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 64%;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
  }
}

.special_input_container_1 {
  display: flex;
  max-width: 714px;
  display: flex;
  flex-direction: column;

  label {
    margin-top: 20px;
  }
  input {
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 10px;
    width: 100%;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
  }
}

.special_input_container_2 {
  display: flex;
  max-width: 714px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  .radio_inp {
    margin-top: 16px;
    margin-left: 18px;
  }
}

.special_input_container_3 {
  display: flex;
  max-width: 714px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 30px;
  select {
    background-color: #e2e2e2;
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-bottom: 17px;
    margin-top: 16px;
    margin-left: 18px;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
  }
}

.special_input_container_4 {
  display: flex;
  max-width: 714px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 30px;
  textarea {
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-bottom: 17px;
    margin-top: 16px;
    margin-left: 18px;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
    height: 130px;
  }
}

.special_input_container_5 {
  display: flex;
  max-width: 714px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
  label {
    margin-top: 17px;
    margin-bottom: 17px;
  }
  select {
    width: 64%;
    background-color: #e2e2e2;
    padding: 4px;
    padding-left: 15px;
    border-radius: 4px;
    margin-bottom: 17px;
    margin-top: 16px;
    margin-left: 18px;
    font-family: inherit;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 201, 205);
    outline: none;
    padding: 10px;
  }
}

.special_input_container_upload {
  display: flex;
  max-width: 714px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.application-field {
  position: relative;
  display: inline-block;
  margin-left: 165px;

  max-width: 450px;
  color: #515357;
  font: normal 400 16px / 1.8 Lato;
}
.defaultlabel {
  line-height: 1.33;
  display: block;
  overflow: hidden;
  font: normal 700 14px / 1.4 Lato;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  text-align: center;
  user-select: none;
  padding-left: 10px;
}

.icon {
  position: absolute;
  left: 15px;
  top: calc(50% - 8px);
  fill: #9696a2;
  color: #9696a2;
}

.visibleresume {
  position: relative;
  margin-right: 15px;
  padding-left: 41px;
  cursor: pointer;
  width: 230px;
  height: 40px;
  text-decoration: none;
  background: #ebecf0;
  color: #9696a2;
  border: 1px solid #dfe0e4;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.33;
  padding: 10px 15px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font: normal 700 14px / 1.4 Lato;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 3px;
}

.resumeattach {
  position: absolute;
  top: 6px;
  left: 3px;
  width: 230px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .special_input_container {
    flex-direction: column;
    input {
      width: 100%;
    }
  }
  .special_input_container_3 {
    flex-direction: column;
    select {
      margin-left: 0;
    }
  }
  .special_input_container_1 {
    input {
      margin-left: 0;
    }
  }
  .special_input_container_4 {
    textarea {
      margin-left: 0;
    }
  }
  .special_input_container_5 {
    flex-direction: column;
    select {
      width: 100%;
      margin-left: 0;
    }
  }

  .application-field {
    margin-top: 20px;
  }
}

input[type="checkbox"] {
  width: 20px;
}

input[type="radio"] {
  margin-bottom: -10px;
  width: 20px;
}

h4 {
  padding-top: 40px;
  padding-bottom: 40px;
  font: normal 700 14px / 1.4 Lato;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #515357;
}
h2 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 20px;
  font: normal 400 33px / 1.4 Lato;
  color: #515357;
  text-transform: none;
  letter-spacing: 0px;
  margin: 17.5px 0;
}
p {
  margin-top: 10px;
  font-size: 14px;
  color: #808080;
  font: normal 700 12px / 1.4 Lato;
  letter-spacing: 1px;
}
.required {
  color: red;
}
.not_required {
  display: none;
}
