@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(custom.css);
/* RESET THE BROWSER STYLES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* HEADER  */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  height: 60px;
  width: 100%;
  padding: 10px;
  z-index: 1;
}
.header_container {
  padding: 2px;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.header_container > img {
  height: 26px;
  width: auto;
}

/* MAIN STYLES */
/* ------------- designation details----------------------------------- */
.designation_container {
  height: 210px;
  width: 100%;
}
.designation_container_content {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* -------------------- form styles -------------- */
.form_container {
  background-color: #f9f9f9;
  width: 100%;
  height: auto;
}
.form_container_sub {
  height: auto;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
}
.pronoun_container {
  width: 100%;
}
.pronouns_list_container {
  width: 64%;
  list-style: none;
}

.pronouns_list {
  max-width: 700px;
  background-color: lightgreen;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pronouns_list > li > div {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .pronouns_list {
    width: 100%;
  }
  .pronouns_list_container {
    width: 100%;
  }
}
.language_skill_container {
  list-style: none;
}
.language_skill_container > li {
  margin-left: 10px;
  margin-top: 20px;
}
