/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(custom.css);

/* CSS Variables for Colors */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-gray: #f9f9f9;
  --color-gray: #515357;
  --color-footer-bg: #edeef1;
}

/* Reset Browser Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Header Styles */
header {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  height: 60px;
  width: 100%;
  padding: 10px;
  z-index: 1;
}

.header_container {
  padding: 2px;
  max-width: 760px;
  margin: 0 auto;
}

.header_container > img {
  height: 26px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .header_container > img {
    margin-left: 20px;
  }
}

/* Designation Container Styles */
.designation_container {
  height: 210px;
  width: 100%;
}

.designation_container_content {
  max-width: 760px;
  margin: 0 auto;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .designation_container {
    padding: 0 30px;
  }
}

/* Form Container Styles */
.form_container {
  background-color: var(--color-light-gray);
  width: 100%;
  height: auto;
}

.form_container_sub {
  height: auto;
  max-width: 760px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .form_container_sub {
    padding: 0 30px;
  }
}

/* Pronoun Container Styles */
.pronoun_container {
  width: 100%;
}

.pronouns_list_container {
  width: 64%;
  list-style: none;
}

.pronouns_list {
  max-width: 700px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pronouns_list > li > div {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .pronouns_list {
    width: 100%;
  }
  .pronouns_list_container {
    width: 100%;
  }
}

/* Language Skill Container Styles */
.language_skill_container {
  list-style: none;
}

.language_skill_container > li {
  margin: 10px 0 0 10px;
}

/* Employment Container Styles */
.employment_container {
  margin-top: 40px;
}

/* Disability Container Styles */
.disability_container {
  color: var(--color-gray);
  font: normal 400 14px / 1.8 Lato;
  margin: 20px 0 0 18px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
  .disability_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Button Container Styles */
.button_container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button_container > button {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  margin-bottom: 100px;
  font: normal 700 14px / 1.4 Lato;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 80px;
  background: var(--color-footer-bg);
}
.footer_anchor {
  color: #4e8ed6;
  margin-top: 40px;
  font: normal 400 16px / 1.8 Lato;
}
.footer_text {
  font: normal 400 16px / 1.8 Lato;
}
footer > p > img {
  height: 24px;
}
